<p>
  array-method works!
</p>
<button (click)="map()">Map</button>
<button (click)="filter()">Filter</button>
<button (click)="reduce()">Reduce</button>
<button (click)="sort()">Sort</button>
<button (click)="sortobjects()">Sort Objects</button>
<button (click)="splice()">Splice</button>
<button (click)="slice()">Slice</button>
<button (click)="concat()">Concat</button>
<button (click)="push()">Push</button>
<button (click)="pop()">Pop</button>
<button (click)="unshift()">Unshift</button>
<button (click)="shift()">Shift</button>
<button (click)="find()">Find</button>
<button (click)="some()">Some</button>
<button (click)="join()">Join</button>
<button (click)="foreach()">ForEach</button>
<button (click)="forin()">Forin</button>
<button (click)="forof()">Forof</button>
<button (click)="from()">From</button>
<button (click)="include()">Include</button>
<button (click)="arrayobject()">Array Object of map</button>
<button (click)="arrayfilter()">Array Filter</button>
<button (click)="mapfilter()">Filter Map</button>
<button (click)="concatstring()">concat string</button>

