<p>An RXJS subject is a special type of observable that allow values to be multicasted to many Observers.While plain Observables are Unicast,
  subjects are Multicast
</p>
<div>
  <ul>
    <li><a routerLink="simplesubject">simple Subject</a></li>
    <li><a routerLink="behaviorsubject">Behavior Subject</a></li>
    <li><a routerLink="replaysubject">Replay Subject</a></li>
    <li><a routerLink="asyncsubject">Async Subject</a></li>
    <li><a routerLink="voidsubject">Void Subject</a></li>
  </ul>
</div>
<router-outlet></router-outlet>