<div>
  <ul>
    <!-- <li><a routerLink="customobservables">custom observables</a></li> -->
    <!-- <li><a routerLink="conversion">conversion of observables</a></li> -->
    <!-- <li><a routerLink="basics">Basic Operators</a></li> -->
    <!-- <li><a routerLink="operators">Transformation Operators</a></li> -->
    <!-- <li><a routerLink="filter">Filter Operators</a></li> -->
    <!-- <li><a routerLink="ajax">Ajax</a></li> -->
    <!-- <li><a routerLink="map">Higher-order-observable</a></li> -->
    <li><a routerLink="arraymethods">Array methods</a></li>
    <li><a routerLink="subject">Subjects</a></li>
  </ul>
</div>
<router-outlet></router-outlet>
